@use "../variables" as *;

.addsong {
    
    border: 5px dashed $darkgrey;
    border-radius: 14px;
    border-spacing: 5px;

    padding: 1.7rem 1rem;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.45rem;
    aspect-ratio: 1/1;

    .button {
        width: 230px;
        height: 60px;
    }
}
