@use "../variables" as *;

.albumcover {
    img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 14px;
    }
    &__info {
        line-height: 1.25;
        margin-inline: 0.5rem;

        p {
            color: $lightgrey;
            font-size: 0.8em;
        }
    }
}
